table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    height: 10px;
}

td {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle; 
    padding: 8px;
    height: 10px;
    word-wrap: break-word;
}

.frame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.frame {
    display: none;
}
.frame.active {
    display: block;
}